<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="preprocessorToUpper" class="edu.school21.spring.preprocessor.PreProcessorToUpperImpl"/>

    <bean id="rendererErr" class="edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg index="0" ref="preprocessorToUpper"/>
    </bean>

    <bean id="printerWithPrefix" class="edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg index="0" ref="rendererErr"/>
        <property name="prefix" value="Prefix"/>
    </bean>

</beans>